@import "colors.css";

.tab .tab-label {
	-fx-background-color: backgroundSuperLight;
	-fx-text-fill: textBase;
}

.tab {
	-fx-background-color: backgroundSuperLight;
}



.tab-pane {
	-fx-background-color: backgroundLight;
}

.tab-pane *.tab-header-background {
	-fx-background-color: backgroundSuperLight;
}



.scroll-pane, .scroll-pane .scroll-bar, .scroll-pane .corner {
	-fx-background: background;
	-fx-background-color: background;
}

.scroll-pane .scroll-bar .thumb{
	-fx-background-color: fadedBackground;
}



.split-pane, .split-pane-divider {
	-fx-background-color: fadedBackground;
}

.split-pane-divider {
	-fx-padding: 1, 0, 0, 0;
}


.tab:selected .tab-label {
	-fx-background-color: backgroundDark;
}

.tab:selected{
	-fx-background-color: backgroundDark;
}



.label{
    -fx-text-fill: textBase;
}